
.composition{
  position: relative;
   @include respond(tab-port){
      display:flex;
    }
  &__photo{
    width:55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 4px;
    position: absolute;
    transition:all .2s;
    @include respond(tab-port){
      box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
      position: relative;
      width:33.333%
    }
   

  &--p1{
    top: -2rem;
    left:0;
    @include respond(tab-port){
      top:0;
      margin:0;
      transform: scale(1.2);
    }
  }
  &--p2{
    top: 2rem;
    right: 0;
    @include respond(tab-port){
      top:-1rem;
      left:-1rem;
      transform: scale(1.2);
    }
  }
  &--p3{
    top: 10rem;
    left:20%;
    @include respond(tab-port){
      top:1rem;
      left:-2rem;
      transform: scale(1.2);
    }
  }
  
  &:hover{
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
    z-index: 10;
    outline: 1.5rem solid $color-primary;
    outline-offset: 1.5rem;
    }
  } 
  &:hover &__photo:not(:hover){
    transform: scale(0.95 )
  }
}